// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


.toolbar-title {
  color: #FF6969;
}

.verified {
  color: #2A8CFA;
  margin-left: 5px;
  font-size: 24px;
}

.name {
  display: inline-block;
  margin-bottom: 0px;
}

.breed {
  margin: 5px 0px 0px 0px;
  color: #B1B1B1;
}

.age {
  font-weight: 400;
}

card-stack {
  display: block;
  height: 100%;
}

tinder-card {
  display: block;
}

.card-image {
  height: 250px;
  background-position: center center;
  background-size: cover;
}

.stacked {
  background-color: #FFF;
  position: absolute;
  width: 350px;
  height: 350px;
  left: calc(50% - 175px);
  top: 100px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
