<ion-header>

  <ion-navbar>
    <ion-title>Edunet Welcome Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" padding>

  <div>EDUNET NƠI HƯỚNG DẪN TƯƠNG LAI</div>

  <ion-card *ngFor="let page of pages" (click)="goToPage(page)">
    <img src="{{page.image}}" />
    <div class="card-title">{{page.title}}</div>
  </ion-card>
  <!--<ion-card>
    <img src="assets/image/card-sf.png" />
    <div class="card-title">Tin mới mỗi ngày</div>
  </ion-card>
  <ion-card>
    <img src="assets/image/card-madison.png" />
    <div class="card-title">Tư vấn tuyển sinh</div>
  </ion-card>
  <ion-card>
    <img src="assets/image/card-saopaolo.png" />
    <div class="card-title">Đề án tuyển sinh 2017 </div>
  </ion-card>
  <ion-card>
    <img src="assets/image/card-amsterdam.png" />
    <div class="card-title">Tìm hiểu ngành</div>
  </ion-card>-->
</ion-content>